<form action="{{ path('pantry_filter') }}" method="post" {{form_enctype(pantryFilterForm)}}>
  {{ google_map_css(map) }}
  {{ google_map_container(map) }}
  {{ google_map_js(map) }}

  {{ form_errors(pantryFilterForm )}}
  <fieldset>
    {{ form_rest(pantryFilterForm) }}
  </fieldset>
  <button class="btn btn-primary float-left" type="submit">Buscar</button>
  <br/>
</form>