{% extends '::frontend.html.twig' %}

{% block headline %}Pantry creation{% endblock headline %}

{% block content %}
{#
<div>
    Steps:
    {% include 'MopaBootstrapBundle:Form:formflow_stepList.html.twig' %}
</div>
#}
{{ 'Corrige, si es necesario, la posición del marcador en el mapa'|trans }}
<form id"pantry_new" action="{{ path('pantry_new') }}" method="post" {{ form_enctype(form) }}>
{% include 'CraueFormFlowBundle:FormFlow:stepField.html.twig' with {'formident': '#pantry_new'}%}
    {{ form_errors(form) }}
    {{ form_widget(form) }}

    {% if flow.getCurrentStep() == 2 %}
        {{ google_map_css(map) }}
        {{ google_map_container(map) }}
        {{ google_map_js(map) }}
    {% endif %}

    {% include 'MopaBootstrapBundle:Form:formflow_buttons.html.twig' %}
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('pantry') }}">
            Back to the list
        </a>
    </li>
</ul>

{% endblock content %}
{% block foot_script %}
    {{ parent() }}
    {% javascripts
        'js/pantry/create.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock foot_script %}